@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(17 24 39);
}

body {
  margin: 0;
}

.leaflet-control-attribution {
  display: none;
}

.maplibregl-popup-close-button {
  padding: 5px;
}


